VITE_CHAIN_ID=31611
VITE_MEZO_RPC=https://rpc.test.mezo.org
VITE_BACKEND_URL=http://localhost:3001

VITE_REMITTANCE_VAULT=0x518286f49FcC5a912DdAb30c0d2BA6aA4cC62490
VITE_INSURANCE_POOL=0xBe1Be331Da23Ad394fA6Bb4dD84d24Aec5F26224
VITE_MUSD_TOKEN=0xD62AA58463fEEd5816729a9ED460bAb0E3a0101D
VITE_BTC_TOKEN=0x36c2Dd5FA96597dbef53906903857413f6818DE9

# WalletConnect Cloud project id (get one at https://cloud.walletconnect.com)
VITE_WALLETCONNECT_PROJECT_ID=
